<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../../public/styles/login.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="loginContainer">
            <div class="loginImgContainer">
                <img src="../../public/images/qqlogo.png">
            </div>
            <div class="loginFormContainer">
                <form class="loginForm" id="resetPasswordForm">
                    <input type="hidden" id="token" name="token" value="">
                    <label for="newPassword">Nova Senha:</label>
                    <br>
                    <input type="password" placeholder="Digite sua nova senha" id="newPassword" name="newPassword" required><br>
                    <div class="button-recover">
                    <button class="loginButton" type="submit">Redefinir Senha</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../../public/js/resetPassword.js"></script>
</body>
</html>
