<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QQTech - BaB Usuários</title>

    <!---Normalize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Styles -->
    
    <link rel="stylesheet" href="../../public/styles/users.css"/>
    
    <!--- Fonte Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


</head>
<body>
<div class="container">
   
    <!--- Side Bar -->
    <div class="sideBar">
        <div class="userInfo">
            
        </div>
        <div class="sideBarButtons">
            <button class="btnDashboard" onclick="navigateToPage(this)"><img src="/public/images/dashboard.svg"/>Dashboard</button>
            <button class="btnUser" onclick="navigateToPage(this)"><img src="/public/images/usuario.svg"/>Usuários</button>
            <button class="btnProfile" onclick="navigateToPage(this)"><img src="/public/images/perfis.svg"/>Perfis</button>
            <button class="btnModule" onclick="navigateToPage(this)"><img src="/public/images/modulos.svg"/>Módulos</button>
            <button class="btnFT" onclick="navigateToPage(this)"><img src="/public/images/ft.svg"/>Funções&Transações</button>
        </div>
    </div>
    <div class="pageContent">
        <!--- Header Bar -->
        <div class="headerBar">
            <p>Usuários</p>
        </div>

        <!-- Data Content -->
        <div class="userData">
            <div class="dataHeader">
                <div class="dataHeaderInfo">
                <span>Usuário</span>
                <span>Matrícula</span>
                <span>Email</span>
                </div>
                <div class="dataHeaderButtons">
                <span>Editar</span>
                <span>Excluir</span>
                </div>
            </div>
            <div class="userListContainer">
            <ul id="userList">
                <li>teste</li>
                <li>teste</li>
            </ul>
            </div>
        </div>

        <div class="btnCreateContainer">
        <button class="createUserBtn" onclick="window.location.href='regUser.html'">Criar usuário</button>
        </div>

        
    </div>

</body>

<!--- Script JS -->
<script src="../../public/js/menu.js"></script>

<!--- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>