<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QQTech - BaB Perfis</title>

    <!-- Normalize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Styles -->
    <link rel="stylesheet" href="../../public/styles/profiles.css"/>
    
    <!-- Fonte Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <!-- Side Bar -->
        <div class="sideBar">
            <div class="userInfo">
                <!-- Usuário info -->
            </div>
            <div class="sideBarButtons">
                <button class="btnDashboard" onclick="navigateToPage(this)"><img src="/public/images/dashboard.svg"/>Dashboard</button>
                <button class="btnUser" onclick="navigateToPage(this)"><img src="/public/images/usuario.svg"/>Usuários</button>
                <button class="btnProfile" onclick="navigateToPage(this)"><img src="/public/images/perfis.svg"/>Perfis</button>
                <button class="btnModule" onclick="navigateToPage(this)"><img src="/public/images/modulos.svg"/>Módulos</button>
                <button class="btnFT" onclick="navigateToPage(this)"><img src="/public/images/ft.svg"/>Funções&Transações</button>
            </div>
        </div>

        <div class="pageContent">
            <!-- Header Bar -->
            <div class="headerBar">
                <p>Edição de Perfil</p>
            </div>

            <!-- Formulário de Edição de Perfil -->
            <div class="profileForm">
                <form id="editProfileForm">
                    <input type="hidden" id="profileId">
                    <label for="nomePerfil">Nome do Perfil:</label>
                    <input type="text" id="nomePerfil" name="nomePerfil" required>
                    <br>
                    <label for="descricaoPerfil">Descrição:</label>
                    <input type="text" id="descricaoPerfil" name="descricaoPerfil" required>
                    <br>
                    <div id="modulosContainer">
                        <!-- Módulos, Funções e Transações serão carregados aqui -->
                    </div>
                    <button type="submit">Salvar Alterações</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Script JS -->
    <script src="../../public/js/authFetch.js"></script>
    <script src="../../public/js/editProfile.js"></script>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
