* {
    background-color: #D6D6D6;
    font-family: 'Open Sans';
    overflow: hidden;

}

button {
  cursor: pointer;
}
.container {
    display: flex;
    flex-direction: row;
}

.sideBar {
    background-color: #ffff;
    border: 2px solid white;
    border-radius: 0px 30px 30px 0px;
    height: 100vh;
    width: 20vw;
    filter: drop-shadow(6px 4px 9px #B5B5B5);
    align-self: left;
    display: flex;
    flex-direction: column;

}

.userInfo {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    border-radius: 30px;
    padding: 0px 0px 15px 0px;
    margin: 0rem 0rem 2rem 0rem;
    background-color: #ffff;
}

.userInfo img {
  border-radius: 200px;
  margin: 20px 20px 10px 20px;
  width: 70%;
  height: 95%;
  filter: drop-shadow(1px 1px 3px #B5B5B5);
 }

.sideBarButtons {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.sideBarButtons button {
  display: flex;
  font-size: 85%;
  font-weight: bold;
  font-stretch: condensed;
  color: #5c5c5c;
  background-color: #ffff;
  border: 2px solid #EAEAEA;
  border-radius: 25px;
  filter: drop-shadow(1px 1px 1px #B5B5B5);
  padding: 20px 0px 20px 0px;
  margin: 0px 10px 10px 5px;
  align-items: center;
  height: 9vh;
}

button img {
  margin: 0px 30px 0px 20px;
  width: 35px;
  height: 35px;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.01);
  margin-right: 9px;

}
.btnDashboard img {
  margin: 0px 30px 0px 20px;
  width: 35px;
  height: 35px;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.01);
}

.sideBarButtons button:hover {
    border: 2px solid #c1c1c1;
    filter: drop-shadow(1px 2px 4px #9e9e9e) brightness(1.1);
}

.sideBarButtons .btnDashboard {
  font-weight: bold;
  font-stretch: condensed;
  color: #ffff;
  background-color: #00A651;
  border: 2px solid #18CE71;
}

.logout-container {
  display: flex;
  justify-content: center;
  background-color: #ffff;
  margin: 20px;
}

.logout {
  background-color: rgba(0,0,0,0.01);
}

.logout img {

  height: 3.5vh;
  width: 3.5vw;
  background-color: rgba(0,0,0,0.01);
  margin: 0px;
  opacity: 0.5;

}

.headerBar {
    border: 2px solid #1A5639;
    border-radius: 0px 30px 30px 0px;
    background-color: #1A5639;
    display: flex;
    justify-content: center;    
    margin: 20px 30px;
    width: 70vw;
    height: 10vh;
    filter: drop-shadow(1px 2px 4px #7a7a7a);   
}

.headerBar p {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #1A5639;
}

.dashboardData {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #CFCFCF;
    background-color: #F6F4F4;
    border-radius: 10px;
    margin: 10px 15px 20px 30px;
    height: 70vh;

}

.dashboard-card {
  border: 1px solid #37634e;
  border-radius: 5px;
  width: 100px;
  height: 140px;
  padding: 10px;
  filter: drop-shadow(2px 2px 3px #a1a1a1);
  background-color: #3e6e57;
}

.dashboard-card:hover {
  filter: drop-shadow(2px 2px 4px #303030) brightness(1.03);
}

.card-info h3, .card-info {
  background-color: #Ffff;
}

.img-container {
  display: flex;
  justify-content: center;
  background-color: #3e6e57;
  padding-bottom: 1px;
}
.img-container img {
  height: 20px;
  width: 20px;
  margin-top: 2px;
  background-color: #ffff;
  border: 1px solid #CFCFCF;
  border-radius: 20px;
  padding: 3px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffff;
  margin: 5px 0px 5px 0px;
  border: 2px solid rgb(53, 127, 91);
  border-radius: 5px;
  
}

.card-info h3 {
  font-size: 11px;
  color: #606060;

}

.card-info img {
  background-color: white;
  height: 20px;
  width: 20px;
  opacity: 0.6;
}

.card-info p {
  border: 2px solid #CFCFCF;
  font-size: 10px;
  padding: 5px 8px 5px 8px;
  border-radius: 30px;
  color: #606060;
  font-weight: bold;
  background-color: #ffff;
  filter: drop-shadow(2px 2px 1px #C1C1C1);
}
@media screen and (max-width: 767px) {
    
  .sideBar {
    width: 14vw; 
    height: 85vh;
    justify-content: center;
  }

.headerBar {
    height: 30px;
}

.headerBar p{
  font-size: 90%;
}

.dashboardData {
  height: 75vh;
  width: 80vw;
  margin: 10px;
}

.userInfo, .userInfo img {
  display: none;
}

.sideBarButtons button {
  font-size: 0; 
  margin-bottom: 30px;
  height: 30px;
}

.sideBarButtons .btnDashboard {
  font-size: 0; 
  margin-bottom: 30px;
  height: 30px;
}

button img {
  margin: 0px;
  padding: 0px 0px 0px 3px;
}

.btnDashboard img {
  margin: 0px;
  padding: 0px 0px 0px 3px;
}

.dashboardData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img-container {
}

.card-info p {
  display: none;
}

.card-info img {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  width: 20px;
  height: 20px;
}

.card-info {
  padding: 0px; 
  margin: 0px 3px 0px 3px;
  height: 45px;
}

.card-info h3 {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  font
}
.card-info p{
  margin: 0px;
  padding: 0px;
}

.dashboard-card {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  height: 15%;
}

}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .sideBar {
      width: 15vw;
      height: 85vh;
    }
  
    .headerBar,
    .dashboardData {
      margin: 15px; 
    }

    .sideBarButtons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .sideBarButtons button {
      font-size: 0; 
      margin: 10px;
    }
    
    .sideBarButtons button img {
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
  

    .userInfo {
      height: 15vh;
    }

    .userInfo img {
        display: none;
     }

}

