* {
    background-color: #D6D6D6;
    font-family: 'Open Sans';
    overflow: hidden;

}

.container {
    display: flex;
    flex-direction: row;
}

.sideBar {
    background-color: #ffff;
    border: 2px solid white;
    border-radius: 0px 30px 30px 0px;
    height: 100vh;
    width: 20vw;
    filter: drop-shadow(6px 4px 9px #B5B5B5);
    align-self: left;
    display: flex;
    flex-direction: column;

}

.userInfo {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    border-radius: 30px;
    padding: 0px 0px 15px 0px;
    margin: 0rem 0rem 2rem 0rem;
    background-color: #ffff;
}

.userInfo img {
  border-radius: 200px;
  margin: 20px 20px 10px 20px;
  width: 70%;
  height: 95%;
  filter: drop-shadow(1px 1px 3px #B5B5B5);
 }

.sideBarButtons {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}

.sideBarButtons button {
    display: flex;
    font-size: 85%;
    font-weight: bold;
    font-stretch: condensed;
    color: #5c5c5c;
    background-color: #ffff;
    border: 2px solid #EAEAEA;
    border-radius: 25px;
    filter: drop-shadow(1px 1px 1px #B5B5B5);
    padding: 20px 0px 20px 0px;
    margin: 0px 10px 10px 5px;
    align-items: center;
    height: 9vh;


}

button {
  cursor: pointer;
}

button img {
  margin: 0px 30px 0px 20px;
  width: 35px;
  height: 35px;
  padding-right: 10px;
  margin-right: 9px;
  background-color: rgba(0,0,0,0.01);;
}

.btnFT img {
  background-color: rgba(0,0,0,0.01);;
  width: 35px;
  height: 35px;
}

.sideBarButtons button:hover {
    border: 2px solid #c1c1c1;
    filter: drop-shadow(1px 2px 4px #9e9e9e) brightness(1.1);

}

.sideBarButtons .btnFT {
  font-weight: bold;
  font-stretch: condensed;
  color: #ffff;
  background-color: #00A651;
  border: 2px solid #18CE71;
}

.headerBar {
    border: 2px solid #1A5639;
    border-radius: 0px 30px 30px 0px;
    background-color: #1A5639;
    display: flex;
    justify-content: center;    
    margin: 20px 30px;
    width: 70vw;
    height: 10vh;
    filter: drop-shadow(1px 2px 4px #7a7a7a);   
}

.headerBar p {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #1A5639;
}

.transactionData {
    border: 2px solid #CFCFCF;
    background-color: #F6F4F4;
    border-radius: 10px;
    margin: 10px 20px 8px 30px;
    height: 30vh;
    overflow: auto;

}

.btnCreateTransactionContainer {
    display: flex;
    justify-content: flex-end;
}

.createTransactionBtn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #00A651;
    border: 2px solid #00A651;
    border-radius: 15px;
    filter: drop-shadow(1px 4px 4px #9e9e9e);
    margin: 0px 20px 8px 0px;
    padding: 10px 50px 10px 50px;
}

.createTransactionBtn:hover {
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
}

.functionData {
    border: 2px solid #CFCFCF;
    background-color: #F6F4F4;
    border-radius: 10px;
    margin: 10px 20px 8px 30px;
    height: 30vh;
    overflow: auto;

}

.dataHeader, .dataHeader span, .dataHeaderInfo, .dataHeaderInfo span, .dataHeaderButtons, .dataHeaderButtons span{
  background-color: #f6f4f4;
  color: #a1a1a1;
  font-weight: bold;
  font-stretch: condensed;
}

.dataHeader {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0px 20px;
}

.dataHeaderInfo span {
  margin: 0px 80px 0px 80px;
  font-size: 15px;
}

.dataHeaderButtons span {
  margin: 0px 20px 0px 20px;
  font-size: 15px;
}

.btnCreateFunctionContainer, .btnCreateContainer {
    display: flex;
    justify-content: flex-end;
}

.createFunctionBtn {
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #00A651;
    border: 2px solid #00A651;
    border-radius: 15px;
    filter: drop-shadow(1px 4px 4px #9e9e9e);
    margin: 0px 20px 8px 0px;
    padding: 10px 50px 10px 50px;
}

.createFunctionBtn:hover {
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);

}

.functionRegisterData, .transactionRegisterData {
  border: 2px solid #CFCFCF;
  background-color: #F6F4F4;
  border-radius: 10px;
  margin: 10px 15px 20px 30px;
  height: 65vh;

}

form, h2, label, input, textarea, .form-group {
  background-color: #F6F4F4;
}

.functionRegisterData, .transactionRegisterData {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 70vh;
}

.btnFormContainer {
  background-color: #F6F4F4;
  margin-top: 36vh;
  padding-top: 10px;
}
.create, .cancel {
  font-size: 1rem;
  font-weight: bold;
  font-stretch: condensed;
  color: #5c5c5c;
  background-color: #ffff;
  border: 2px solid #EAEAEA;
  border-radius: 25px;
  filter: drop-shadow(1px 2px 4px #B5B5B5);
  padding: 10px 30px 10px 30px;
  margin: 0px 10px 13px 10px;

}

.form-group label {
  color: #575757;
  font-weight: bold;
  font-size: 14px;
}


.form-group input, textarea{
  background-color: #ffff;
  border: 2px solid #D7D7D7;
  border-radius: 5px;
  height: 6vh;
  width: 22vw;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-left: 20px;

}

.form-group input::placeholder {
  text-align: center;
  font-size: 12px;
  color: #C7C7C7;
}

.form-group span{
  margin-left: 11vw;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #A1A1A1

}

.create {
  background-color: #00A651;
  border: 2px solid #00A651;
  color: #ffff;
}

.create:hover{
  filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
}

.cancel {
  border: 2px solid #e7e7e7;
  background-color: #e7e7e7;
  color: #a1a1a1;
}

.cancel:hover{
  filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.04);
  color: #878787;
}

ul {
  background-color: #f6f4f4;
}

li {
  background-color: #ffff;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-weight: bold;
  font-size: 13px;
  padding: 3px;
  margin: 0px 3px 3px 5px;
  width: 94%;
  padding: 10px;
  color: #606060;
}

ul li:hover {
  filter: drop-shadow(1px 1px 1px #9e9e9e);
}

ul li .editBtn {
  border: 2px solid #d4d4d4;
  background-color: #e9e9e9;
  border-radius: 18px;
  padding: 8px;
  margin: 0px 3.7vw 0px 0vw;;
}

ul li .editBtn:hover {
  border: 2px solid #e6e6e6;
  background-color: #f6f6f6;
  filter: brightness(1.0);
}


ul li .deleteBtn {
  border: 2px solid #da7575;
  background-color: #ffcfcf;
  border-radius: 18px;
  padding: 8px;
  margin: 0px 0.6vw 0px 0px;
}

ul li .deleteBtn:hover {
  background-color: #ffabab;
  border: 2px solid #c06666;
  filter: brightness(1.0);
}

ul.list-group li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 5px;
  background-color: #ffff;
  border: 1px solid #ddd;
  transition: background-color 0.3s, box-shadow 0.3s;
}

ul.list-group li:hover {
  background-color: #ffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

ul .list-group {
  display: flex;
  flex-direction: row;
  
}
.list-group-item span {
  background-color: #ffff;

}





/* Estilos Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
  padding-top: 60px;
}

.modal-content {
  background-color: #f6f4f4;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  max-width: 80%;
}

.close {
  background-color: #9e9e9e;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  border: 1px solid #888;
  border-radius: 30px;
  filter: drop-shadow(1px 1px 1px #9e9e9e);
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #9e9e9e) brightness(1.2);
}

.modal-content p, .modal-body p, .modalHeader, .modalInfo p, .modalInfo strong, .modal-content h2 {
 background-color: #fefefe;
}

.modalHeader {
  display: flex;
  justify-content: center;
  min-width: 30%;
  max-width: 100%;
  margin-left: 60px;
  margin-right: 85px;
  background-color: #1A5639;
  border: 1px solid #1A5639;
  border-radius: 40px;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d7d7d7;
  border-radius: 30px;
  padding: 5px;
}

.modalHeader h2 {
  background-color: #1A5639;
  color: white;
}

.modalInfo strong {
  color: #292929;
  margin-top: 5px;
}

.modalInfo p {
  margin: 1px;
  font-size: 14px;
  padding: 2px;
  font-weight: bold;
  color: #606060;
}

@media screen and (max-width: 768px) {
    
    .sideBar {
        width: 14vw; 
        height: 85vh;
        justify-content: center;
      }
    
    .headerBar {
        height: 30px;
    }
    
    .headerBar p{
        font-size: 20px;
    }

      .transactionData, .functionData {
        height: 33vh;
        width: 75vw;
        margin: 10px;
      }

    .userInfo, .userInfo img {
      display: none;
    }
  
    .sideBarButtons button {
        font-size: 0; 
        margin-bottom: 30px;
        height: 30px;
    }

    .sideBarButtons .btnFT {
        font-size: 0; 
        margin-bottom: 30px;
        height: 30px;
    }

    button img {
      margin: 0px;
      padding: 0px 0px 0px 3px;
    }
  
    .createTransactionBtn, .createFunctionBtn {
      font-size: 14px; 
      padding: 8px 15px;
    }

    ul li .editBtn {
      border: 1px solid #d4d4d4;
      background-color: #e9e9e9;
      border-radius: 18px;
      padding: 2px;
      margin: 1px 3px 1px 0px;
    }

    ul li .deleteBtn {
      border: 1px solid #da7575;
      background-color: #ffcfcf;
      border-radius: 18px;
      padding: 2px;
      margin: 1px 3px 1px 0px;
    }

    ul.list-group li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px 4px 2px;
      margin: 0px 0px 3px 2px;
      background-color: #ffff;
      border: 1px solid #ddd;
      font-size: 10px;
      transition: background-color 0.3s, box-shadow 0.3s;
    }
    

    .dataHeaderInfo span, .dataHeaderButtons span {
      display: none;
    }

    ul.list-group {
      list-style: none;
      text-decoration: none;
      margin: 3px 0px 3px 4px;
      padding: 0px;
    }

    .list-group-item span {
      background-color: #ffff;
      padding: 0px 0px 0px 5px;
      margin: 0px;

    
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .sideBar {
      width: 20vw;
      height: 80vh;
    }
  
    .headerBar,
    .transactionData,
    .functionData {
      margin: 15px; 
    }
  
    .sideBarButtons button {
        font-size: 0.8rem; 
        padding: 18px 0px; 
      }
  
    .sideBarButtons .btnFT {
        font-size: 0.8rem; 
      }
  
    .createTransactionBtn {
      font-size: 15px; 
      padding: 10px 40px; 
    }
}