* {
    background-color: #1A5639;
    font-family: 'Open Sans';
}

.container {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.loginContainer {
    display: flex;
    border-radius: 30px;
    height: 75vh;
    width: 70vw;
    margin: 80px 20px 20px 30px;
    background-color: #ffff;
}

.loginImgContainer {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #ffff;
    width: 50%;
    
}

.loginFormContainer {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background-color: #ffff;
    margin: 10px 10px 10px 5px;
    width: 50%;
}


.loginForm, .loginForm input, .loginForm label, .loginForm span{
    background-color: #ffff;

}

.loginForm {
    margin: 20vh;
}

.loginForm label {
    color: #575757;
    font-weight: bold;
    font-size: 14px;
}


.loginForm input{
    background-color: #ffff;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    height: 6vh;
    width: 18vw;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 20px;

}

.loginForm input::placeholder {
    text-align: center;
    font-size: 12px;
    color: #C7C7C7;
}

.loginForm span{
    margin-left: 11vw;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #A1A1A1

}

.loginButton {
    margin-top: 30px;
    width: 18vw;
    height: 6vh;
    font-family:"Open Sans";
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #00A651;
    border: 2px solid #00A651;
    border-radius: 15px;
    margin-left: 1vw;
    filter: drop-shadow(1px 4px 4px #9e9e9e);
   
}

.loginButton:hover {
    font-family:"Open Sans";
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #00A651;
    border: 2px solid #00A651;
    border-radius: 15px;
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
}

span {
    cursor: pointer;
}

span:hover {
    filter: brightness(1.1);
}

img {
    width: 100%;
    border-radius: 30px;
    margin: 100px;
    filter: drop-shadow(1px 4px 4px #9e9e9e);

}

.imgRecover {
    width: 100%;
    border-radius: 30px;
    margin: 100px 100px 100px 42px;
    filter: drop-shadow(1px 4px 4px #9e9e9e);

}

.returnBtnContainer {
    background-color: #ffff;
    height: 80px;
    width: 60px;
    border-radius: 80px;
    margin: 2px;
}

button {
    width: 35px;
    color: WHITE;
    font-weight: bold;
    height: 33px;
    border-radius: 20px;
    margin-left: 12px;
    margin-top: 12px;
    border: 2px solid #D7D7D7;
    background-color: #D7D7D7;
    padding-left: 5px;
    filter: drop-shadow(1px 1px 1px #9e9e9e);

}

button:hover {
    filter: drop-shadow(1px 1px 1px #9e9e9e) brightness(1.05);

}

.button-recover {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media screen and (max-width: 768px) {

    .loginContainer {
        flex-direction: column;
    }

    .loginImgContainer {
        height: 28vh;
        display: flex;
        align-items: center;
        
    }

    .loginFormContainer {
        padding-top: 60px;
        
    }

    .loginForm {
        margin: 0px;
    }

    .loginForm label {
        margin-left: 15px;
    }

    .loginForm input {
        display: flex;
        height: 30px;
        width: 150%;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
        padding: 0px;
        margin: 90px 67px 30px 67px;
    }

    .imgRecover {
        width: 100%;
        padding: 0px;
        margin: 30px 67px 30px 67px;
    }

    .button-recover span {
        margin-left: 15px;
        margin-right: 5px;  
        padding-bottom: 20px;
        font-size: 12px;
    }

    .button-recover {
        margin-left: 50%;
        width: 100%;
    }

    .loginButton {
        width: 100%;
        font-size: 13px;
        padding: 0px;
        margin: 0px
    }
    
   
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .loginForm input {
        height: 30px;
    }

    .loginFormContainer {
        margin-left: 130px;
    }

    .loginFormContainer form {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .loginImgContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .loginImgContainer img {
        width: 100%;
        margin-left: 260px;
    }

    .button-recover {
        padding: 0px;
        margin: 0px;
    }

    .button-recover span {
        margin-left: 70px;
    }


}
