  * {
      background-color: #D6D6D6;
      font-family: 'Open Sans';
      overflow: hidden;

  }

  button { 
    cursor: pointer;
  }

  .container {
      display: flex;
      flex-direction: row;
  }

  .sideBar {
      background-color: #ffff;
      border: 2px solid white;
      border-radius: 0px 30px 30px 0px;
      height: 100vh;
      width: 20vw;
      filter: drop-shadow(6px 4px 9px #B5B5B5);
      align-self: left;
      display: flex;
      flex-direction: column;

  }

  .userInfo {
      display: flex;
      justify-content: center;
      height: 30vh;
      width: 20vw;
      border-radius: 30px;
      padding: 0px 0px 15px 0px;
      margin: 0rem 0rem 2rem 0rem;
      background-color: #ffff;
  }

  .userInfo img {
    border-radius: 200px;
    margin: 20px 20px 10px 20px;
    width: 70%;
    height: 95%;
    filter: drop-shadow(1px 1px 3px #B5B5B5);
   }

  .sideBarButtons {
      background-color: #ffff;
      display: flex;
      flex-direction: column;
  }

  .sideBarButtons button {
    display: flex;
    font-size: 85%;
    font-weight: bold;
    font-stretch: condensed;
    color: #5c5c5c;
    background-color: #ffff;
    border: 2px solid #EAEAEA;
    border-radius: 25px;
    filter: drop-shadow(1px 1px 1px #B5B5B5);
    padding: 20px 0px 20px 0px;
    margin: 0px 10px 10px 5px;
    align-items: center;
    height: 9vh;
  }
  
  button img {
    margin: 0px 30px 0px 20px;
    width: 35px;
    height: 35px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.01);
    margin-right: 9px;
  }

  .btnModule img {
    margin: 0px 30px 0px 20px;
    width: 35px;
    height: 35px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.01);
  }
  
  .sideBarButtons button:hover {
      border: 2px solid #c1c1c1;
      filter: drop-shadow(1px 2px 4px #9e9e9e) brightness(1.1);
  }
  
  .sideBarButtons .btnModule {
    font-weight: bold;
    font-stretch: condensed;
    color: #ffff;
    background-color: #00A651;
    border: 2px solid #18CE71;
  }

  .headerBar {
      border: 2px solid #1A5639;
      border-radius: 0px 30px 30px 0px;
      background-color: #1A5639;
      display: flex;
      justify-content: center;    
      margin: 20px 30px;
      width: 70vw;
      height: 10vh;
      filter: drop-shadow(1px 2px 4px #7a7a7a);   
  }

  .headerBar p {
      align-self: center;
      font-size: 24px;
      font-weight: bold;
      font-stretch: condensed;
      color: #ffff;
      background-color: #1A5639;
  }
  .moduleData, .moduleRegisterData {
      border: 2px solid #CFCFCF;
      background-color: #F6F4F4;
      border-radius: 10px;
      margin: 10px 15px 20px 30px;
      height: 70vh;
      overflow-y: auto;

  }


  .dataHeader, .dataHeader span, .dataHeaderInfo, .dataHeaderInfo span, .dataHeaderButtons, .dataHeaderButtons span{
    background-color: #f6f4f4;
    color: #a1a1a1;
    font-weight: bold;
    font-stretch: condensed;
  }

  .dataHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0px 20px;
  }

  .dataHeaderInfo span {
    margin: 0px 80px 0px 80px;
    font-size: 15px;

  }

  .dataHeaderButtons span {
    margin: 0px 20px 0px 20px;
    font-size: 15px;

  }

  .btnCreateContainer {
      display: flex;
      justify-content: flex-end;
  }

  .createModuleBtn, .associateModuleFBtn, .associateModuleTBtn {
      font-size: 16px;
      font-weight: bold;
      font-stretch: condensed;
      color: #ffff;
      background-color: #00A651;
      border: 2px solid #00A651;
      border-radius: 15px;
      filter: drop-shadow(1px 4px 4px #9e9e9e);
      margin: 0px 20px 10px 0px;
      padding: 10px 50px 10px 50px;
  }

  .associateModuleFBtn, .associateModuleTBtn {
    background-color: #9e9e9e;
    border: 2px solid #9e9e9e;
   }

  .createModuleBtn:hover, .associateModuleFBtn:hover, .associateModuleTBtn:hover {
      filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
  }

  form, h2, label, input, textarea, .form-group {
    background-color: #F6F4F4;
  }

  .moduleRegisterData {
    display: flex;
    justify-content: center;
    padding: 10px;
    }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f4f4;
    padding: 30px;
  }

  .transactionList, .checkbox-list {
    background-color: #f6f4f4;
  }

  .checkbox-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #CFCFCF;
    background-color: #ffff;
    height: 22vh;
    margin-top: 5px;
    padding: 5px;
    overflow-y: auto;
  }

  .transaction-checkbox, .function-checkbox, .transaction-checkbox label, .function-checkbox label {
    background-color: #ffff;

  }

  .form-group {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .transaction-checkbox, .function-checkbox {
    display: flex;
    align-items: center;
    border: 2px solid #f6f4f4;
    border-radius: 10px;
    min-height: 30px;
    margin: 1px;
  }

  .transaction-checkbox:hover, .function-checkbox:hover {
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
  }

  .transaction-checkbox input[type="checkbox"], .function-checkbox input[type="checkbox"] {
    width: 20px;  
    height: 20px;
    margin: 0px 70px 0px 10px;
    cursor: pointer;
  }

  .btnFormContainer {
    background-color: #F6F4F4;
    margin-top: 5.2vh;
    padding: 3px;
  }

  .create, .cancel {
    font-size: 1rem;
    font-weight: bold;
    font-stretch: condensed;
    color: #5c5c5c;
    background-color: #ffff;
    border: 2px solid #EAEAEA;
    border-radius: 25px;
    filter: drop-shadow(1px 1px 2px #B5B5B5);
    padding: 10px 30px 10px 30px;
    margin: 0px 10px 13px 10px;
    width: 10vw;

  }

  .formModule {
    height: 100%;
    width: 100%;
  }
  .form-group label {
    color: #575757;
    font-weight: bold;
    font-size: 14px;
  }


  .form-group input, textarea{
    background-color: #ffff;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    height: 6vh;
    width: 22vw;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 20px;

  }

  .form-group input::placeholder {
    text-align: center;
    font-size: 12px;
    color: #C7C7C7;
  }

  .form-group span{
    margin-left: 11vw;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #A1A1A1

  }
  .create {
    background-color: #00A651;
    border: 2px solid #00A651;
    color: #ffff;
  }

  .create:hover{
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.1);
  }

  .cancel {
    border: 2px solid #e7e7e7;
    background-color: #e7e7e7;
    color: #a1a1a1;
  }

  .cancel:hover{
    filter: drop-shadow(1px 4px 4px #9e9e9e) brightness(1.04);
    color: #878787;
  }

.form-group select {
    background-color: #fff;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    height: 10vh;
    width: 24vw;
    margin-top: 5px;
    padding-left: 1px;
    overflow: auto;
}


.form-group option {
  background-color: #ffff;
}

  ul, .moduleListContainer {
    background-color: #f6f4f4;
  }

  li {
    background-color: #ffff;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    padding: 3px;
    margin: 0px 3px 3px 5px;
    width: 94%;
    padding: 10px;
    color: #606060
  }

  ul li:hover {
    filter: drop-shadow(1px 1px 1px #9e9e9e);
  }

  ul li .editBtn {
    border: 2px solid #d4d4d4;
    background-color: #e9e9e9;
    border-radius: 18px;
    padding: 8px;
    margin: 0px 3.7vw 0px 0vw;;
  }

  ul li .editBtn:hover {
    border: 2px solid #e6e6e6;
    background-color: #f6f6f6;
    filter: brightness(1.0);
  }


  ul li .deleteBtn {
    border: 2px solid #da7575;
    background-color: #ffcfcf;
    border-radius: 18px;
    padding: 8px;
    margin: 0px 0.6vw 0px 0px;
  }

  ul li .deleteBtn:hover {
    background-color: #ffabab;
    border: 2px solid #c06666;
    filter: brightness(1.0);
  }

  ul.list-group li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 5px;
    background-color: #ffff;
    border: 1px solid #ddd;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  /* Efeito de hover para os itens da lista */
  ul.list-group li:hover {
    background-color: #ffff;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  }

  ul .list-group {
    display: flex;
    flex-direction: row;
    
  }
  .list-group-item span {
    background-color: #ffff;

  }





 /* Estilos Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
  padding-top: 60px;
}

.modal-content {
  background-color: #f6f4f4;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 30px;
  max-width: 70%;
  max-height: 80%;
}

.close {
  background-color: #9e9e9e;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
  border: 1px solid #888;
  border-radius: 30px;
  filter: drop-shadow(1px 1px 1px #9e9e9e);
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px #9e9e9e) brightness(1.2);
}

.modal-content p, .modalInfo, .modalBody, .modalBody ul, .modalInfo p, .modalInfo strong, .modal-content h2 {
 background-color: #fefefe;
}

.modalHeader {
  display: flex;
  justify-content: center;
  min-width: 30%;
  max-width: 100%;
  margin-left: 60px;
  margin-right: 85px;
  background-color: #1A5639;
  border: 1px solid #1A5639;
  border-radius: 40px;
  margin-bottom: 15px;
}

.modalInfo {
  border: 1px solid #d7d7d7;
  border-radius: 30px;
  padding: 1px;
  margin: 0px;
  overflow: auto;
  height: 50vh;
  width: 100%;
}

.modalHeader h2 {
  background-color: #1A5639;
  color: white;
}

.modalInfo strong {
  color: #292929;
  margin-top: 5px;
}

.modalInfo p {
  justify-content: center;
  margin: 7px;
  font-size: 10px;
  padding: 4px;
  font-weight: bold;
  color: #606060;
}

.description {
 display: flex;
 justify-content: center;
 width: 100%;
 height: 80px;
 margin: 10px 40px 10px 0px;
 background-color: #ffff;
}

.description p {
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}

.modalInfo h2 {
  font-size: 15px;
  color: #303030;
  margin-left: 10px;

}

.modalInfo ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  min-height: 60%;
  text-decoration: none;
  background-color: #ffff;
}

.modalInfo li {
    background-color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #606060;
    width: 10%;
}
    
  @media screen and (max-width: 768px) {
      
    .sideBar {
      width: 14vw; 
      height: 85vh;
      justify-content: center;
    }
  
  .headerBar {
      height: 30px;
  }
  
  .headerBar p{
      font-size: 90%;
  }

  .moduleData {
    height: 75vh;
    width: 80vw;
    margin: 10px;
  }

  .userInfo, .userInfo img {
    display: none;
  }
  
  .sideBarButtons button {
    font-size: 0; 
    margin-bottom: 30px;
    height: 30px;
  }

  .sideBarButtons .btnModule {
    font-size: 0; 
    margin-bottom: 30px;
    height: 30px;
  }

  button img {
    margin: 0px;
    padding: 0px 0px 0px 3px;
  }

  .btnModule img {
    margin: 0px;
    padding: 0px 0px 0px 3px;
  }
  
  .createModuleBtn, .associateModuleFBtn, .associateModuleTBtn {
    font-size: 12px; 
    padding: 2px 0px 2px 0px;
    margin: 5px 3px 5px 3px;
    width: 100px;
  }

  ul li .editBtn {
    border: 1px solid #d4d4d4;
    background-color: #e9e9e9;
    border-radius: 18px;
    padding: 2px;
    margin: 1px 3px 1px 0px;
  }

  ul li .deleteBtn {
    border: 1px solid #da7575;
    background-color: #ffcfcf;
    border-radius: 18px;
    padding: 2px;
    margin: 1px 3px 1px 0px;
  }

  ul.list-group li {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding: 4px 8px 4px 2px;
    margin: 0px 0px 3px 2px;
    background-color: #ffff;
    border: 1px solid #ddd;
    font-size: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }

  ul.list-group {
    list-style: none;
    text-decoration: none;
    margin: 3px 0px 3px 4px;
    padding: 0px;
  }

  .list-group-item span {
    background-color: #ffff;
    padding: 0px 0px 0px 5px;
    margin: 0px;
  }
  .dataHeaderInfo span, .dataHeaderButtons span {
    display: none;
  }

  .module-buttons {
    margin: 0px;
    padding: 0px;
  }

  .modalInfo ul {
    flex-wrap: wrap;
  }

  .modalInfo li {
    font-size: 8px;
  }

  .modalHeader h2 {
    font-size: 13px;
  }

  .moduleRegisterData form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .btnFormContainer {
    display: flex;
    align-items: center;
  }

  .btnFormContainer button {
    padding: 5px;
    margin: 5px;
    width: 100px;
    font-size: 12px;
  }

  .create, .cancel {
    width: 190px;
  }
}

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .sideBar {
        width: 15vw;
        height: 85vh;
      }
    
      .headerBar,
      .moduleData {
        margin: 15px; 
      }
    
      .sideBarButtons button {
        font-size: 0; 
        padding: 18px 0px; 
      }
  
    .sideBarButtons .btnModule {
        font-size: 0;
      }
      
    .sideBarButtons button img {
      padding-left: 30px;
      }

      .createModuleBtn {
        font-size: 15px; 
        padding: 10px 40px; 
      }

      .btnCreateContainer button {
        width: 200px;
        font-size: 15px;
      }

      ul.list-group li {
        font-size: 16px;
      }
  }